<ion-content>

  <main class="exito-wrapper">

    <section class="success-card card">

      <div class="success-icon">
        <span class="material-symbols-outlined">volunteer_activism</span>
      </div>

      <h1>Solicitud enviada.</h1>

      <p>
        Tu solicitud está siendo revisada y pronto recibirás una respuesta.
      </p>

      <button class="primary-btn" (click)="volverInicio()">
        Volver al inicio
      </button>

      <button class="secondary-btn" (click)="irSolicitudes()">
        Ver mis solicitudes
      </button>

    </section>

  </main>

</ion-content>